@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-seriff;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  background: #ffffff;
  color: #1e1e27;
}

ul {
  list-style: none;
  margin-bottom: 0px;
}

span {
  color: red;
}

a,
a:hover,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  color: black;
}

.trans_300 {
  transition: all 300ms ease;
}

.header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 10;
}

.logo {
  position: relative;
  top: 41px;
  left: 450px;
  color: #1e1e27;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  transition: color 0.3s ease;
}

.main_nav_container {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.015);
}

.logo_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
}

.logo_container a {
  font-size: 20px;
  color: #1e1e27;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar {
  width: auto;
  height: 100px;
  float: right;
  padding-left: 0px;
  padding-right: 350px;
}

.navbar_menu li {
  display: inline-flex;
}

.navbar_menu li a {
  position: relative;
  top: 15px;
  left: -270px;
  color: #1e1e27;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 25px;
  transition: color 0.3s ease;
}

.navbar_menu li a:hover {
  color: #b5aec4;
}

.navbar_user {
  margin-left: 75px;
}

.navbar_user li {
  display: inline-flex;
  text-align: center;
}

.navbar_user li a {
  position: relative;
  top: -35px;
  left: 320px;
  width: 40px;
  height: 40px;
  color: #1e1e27;
  transition: color 0.3s ease;
}

.navbar_user li a:hover {
  color: #b5aec4;
}

.checkout {
  color: #b5aec4;
  position: relative;
  top: -10px;
}

.checkout i {
  position: relative;
  top: 10px;
}

.checkout_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -9px;
  left: 22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fe4c50;
  font-size: 12px;
  color: #ffffff;
}

.menuHamburguesa {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .logo {
    display: flex;
    flex-direction: row;
    left: 60px;
    font-size: 30px;
  }
  .navbar_menu {
    display: flex;
    flex-direction: row;
  }

  .navbar_menu li {
    position: relative;
    left: 450px;
    top: -27px;
  }

  .navbar_menu li a {
    font-size: 14px;
    left: -350px;
    top: 20px;
  }

  .navbar_user {
    position: relative;
    top: -25px;
    right: -400px;
  }
}
@media only screen and (max-width: 900px) {
  .logo {
    display: flex;
    flex-direction: row;
    left: 20px;
    font-size: 30px;
  }
  .navbar_menu {
    display: flex;
    flex-direction: row;
  }

  .navbar_menu li {
    position: relative;
    left: 500px;
    top: -27px;
  }

  .navbar_menu li a {
    font-size: 12px;
    left: -280px;
  }

  .navbar_user {
    position: relative;
    top: -25px;
    right: -360px;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    display: flex;
    flex-direction: row;
    left: 20px;
    font-size: 20px;
  }
  .navbar_menu {
    display: flex;
    flex-direction: row;
  }

  .navbar_menu li {
    position: relative;
    left: 500px;
    top: -27px;
  }

  .navbar_menu li a {
    font-size: 10px;
    left: -280px;
  }

  .navbar_user {
    position: relative;
    top: -25px;
    right: -320px;
  }
}

@media only screen and (max-width: 650px) {
  .logo {
    display: flex;
    flex-direction: row;
    left: 200px;
    top: 32px;
    font-size: 30px;
  }
  .menuHamburguesa {
    display: flex;
    position: relative;
    top: 59px;
    left: 90px;
    font-size: 30px;
  }

  .navbar_menu {
    display: none;
  }

  .navbar_user {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 44px;
    right: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .logo {
    position: relative;
    top: 50px;
    left: 130px;
  }
  .navbar_menu {
    display: none;
  }

  .navbar_user {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 60px;
    left: 20px;
  }

  .menuHamburguesa {
    display: flex;
    position: relative;
    top: 76px;
    left: 30px;
    font-size: 30px;
  }
}
